.post{
    width: 50%;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px;
}

.post:hover{
    background-color: lightgray;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

a{
    text-decoration: none;
    color:orange;
}