<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>비동기 방식</h3>
    <input type="text" name="msg" value=""/>
    <input type="button" value="전송" onclick="send()"/>


</body>
<script>
    async function send(){
        let msg =document.querySelector('input[name="msg"]').value;
        console.log(msg)
        let {data} = await axios.get('/send?msg='+msg)
        console.log(data)
        console.log('전송 종료')
    }
</script>
</html>